@font-face {
    font-family: irsans;
    src: url("../fonts/irsans-1.ttf");
}
@font-face {
    font-family: irsansbold;
    src: url(../fonts/IRAN-Sans-Bold.ttf);
}
h1{
    font-family: irsansbold;
}
p{
    font-family: irsans;
}